.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -5em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.masthead {
    text-align: center;
}

.masthead-two {
    text-align: right;
    margin-right: 2em;
}
.pug {
    width: 300px;
    opacity:0.7;
    box-shadow: 0 0 0px #000000;
}   

.pug:hover {
  
  border-radius: 20px;
    background-color: none;
    opacity: 1;
}

.body {
    text-align: center;
}

.info {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    color: #73c8b9;
    padding: 0;
    margin: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
	color: inherit;
}

.secondinfo {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.hr {
    margin: 0 30px 30px 30px;
}

.title {
    width: 400px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.image-flex {
 width: 100%;
display: block;
}

.name {
    font-size: 3em;
    font-family: 'Pathway Gothic One', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    text-align: left;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
}

.navlinks {
    color: black;
    font-size: 1.5em;
    font-family: 'Pathway Gothic One', sans-serif;
    text-decoration: none;
    display: block;
}

.navbar li {
 display: inline-block;
}

.script {
    font-size: 9px;
    padding: .5em;
    margin: 1.5em;
    background-color: #73c8b9;
    color: white;
    text-align: left;
}