.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -3em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.masthead {
    text-align: center;
}

.pug {
    width: 300px;
}

.body {
    text-align: center;
}

.info {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    color: #73c8b9;
}

.secondinfo {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}

.hr {
    margin: 0 30px 30px 30px;
}

.title {
    width: 300px;
}